.container{
    width: 500px;
    height: 550px;
    
;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}
.titel{
    font-size: 40px;
    font-weight: 500;
    background-color: blueviolet;
    color: aliceblue;
}
.titel span{
    color: rgb(117, 76, 76);
    font-size: 40px;
}
.c{
    display: flex;
    margin-top: 5px;
    margin-left: 8px;
}
.container .square{
    color: aliceblue;
    width: 150px;
    height: 150px;
    background-color: rgb(176, 147, 147);
    margin: 2px;
    font-size: 100px;
    text-align: center;
}
.container .square:hover{
    background-color: black;
}
